In [3]:
import pandas as pd
from random import randint

In [4]:
caminho = '/workspaces/TrabalhosCPA/T4_PedroBarcelos_LeonardoMiranda-Alugueis/alugueis.csv'
dados = pd.read_csv(caminho)
dados

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10607,10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10608,10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10609,10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10610,10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587

In [32]:
def amostragem_aleatoria(df:pd.DataFrame,amostras:int,reposicao:bool = True):
    if amostras == 0 or df.empty:
        return df_amostras
    if amostras > len(df):
        raise Exception("Nro Amostras maior que a população!")
    linhas,cols = df.shape
    colunas = df.keys()
    df_amostras = pd.DataFrame(columns=colunas)
    if reposicao:
        for i in range(amostras):
            ind = randint(0,linhas)
            amostra = df.iloc[ind]
            df_amostras.loc[len(df_amostras)] = amostra
    else: #sem reposicao
        indices_amostrados = []
        for i in range(amostras):
            linhas,cols = df.shape
            ind = randint(0,linhas-1)
            while ind in indices_amostrados:
                ind = randint(0,linhas-1)
            indices_amostrados.append(ind)
            amostra = df.iloc[ind]
            df_amostras.loc[len(df_amostras)] = amostra
    return df_amostras

def amostragem_estratificada(df:pd.DataFrame,amostras:int,coluna:str):
    if amostras == 0 or df.empty:
        return df_amostras
    if amostras > len(df):
        raise Exception("Nro Amostras maior que a população!")
    dicionario = {}
    dicionario_amostra = {}
    conteudos = df[coluna].unique()
    linhas,cols = df.shape
    porcentagem = float(amostras)/float(linhas)
    for conteudo in conteudos:
        qtd = df[coluna].value_counts()[conteudo]
        dicionario[conteudo] = qtd
        qtd_amostra = qtd * porcentagem
        dicionario_amostra[conteudo] = round(qtd_amostra)

    # em caso de erro de arredondamento, a chave com maior quantidade de amostras sera afetada, sempre!
    while sum(dicionario_amostra.values()) > amostras or sum(dicionario_amostra.values()) < amostras:
        maior_amostra = max(dicionario_amostra.values())
        for chave,valor in dicionario_amostra.items():
            if valor == maior_amostra:
                match(sum(dicionario_amostra.values())>amostras):
                    case True:dicionario_amostra[chave] = valor - 1
                    case False: dicionario_amostra[chave] = valor + 1


    colunas = df.keys()
    df_amostras = pd.DataFrame(columns=colunas)
    for chave, valor in dicionario_amostra.items():
        df_chave = df[df[coluna]==chave]
        while valor > 0:
            amostra = df_chave.iloc[randint(0,len(df_chave))]
            df_amostras.loc[len(df_amostras)] = amostra
            valor-=1
    print(f'Quantidade de amostras:{dicionario_amostra.items()}')
    return df_amostras

In [33]:
amostragem_estratificada(dados,200,dados.keys()[1])

Quantidade de amostras:dict_items([('São Paulo', 111), ('Porto Alegre', 22), ('Rio de Janeiro', 28), ('Campinas', 16), ('Belo Horizonte', 23)])

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,10054,São Paulo,20,1,1,0,1,not acept,not furnished,0,1000,10,13,1023
1,8944,São Paulo,35,1,1,1,3,not acept,furnished,0,4200,17,54,4271
2,7184,São Paulo,63,2,2,1,1,acept,furnished,720,3500,113,45,4378
3,1172,São Paulo,120,3,3,2,11,acept,not furnished,995,2200,100,28,3323
4,3325,São Paulo,73,2,1,1,4,acept,not furnished,680,1300,21,17,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4763,Belo Horizonte,130,4,4,3,16,not acept,not furnished,1778,5200,529,70,7577
196,5416,Belo Horizonte,200,3,2,2,-,acept,not furnished,0,12000,369,197,12570
197,5420,Belo Horizonte,75,3,1,1,1,not acept,not furnished,160,1100,80,15,1355
198,2596,Belo Horizonte,59,3,1,1,1,acept,not furnished,100,1018,63,14,1195
199,4380,Belo Horizonte,294,3,4,4,15,acept,not furnished,1832,3600,543,48,6023

In [34]:
amostragem_aleatoria(dados,100)

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,684,São Paulo,207,3,5,4,6,acept,not furnished,2400,12000,934,153,15490
1,4925,São Paulo,175,4,3,3,3,acept,furnished,1750,13000,850,165,15770
2,4769,São Paulo,60,2,1,1,4,acept,not furnished,750,1841,77,7,2675
3,1785,Porto Alegre,112,3,2,2,3,acept,furnished,800,4100,100,60,5060
4,1177,Campinas,68,2,1,1,3,acept,not furnished,482,831,0,11,1324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4497,São Paulo,250,3,2,8,-,acept,not furnished,0,6500,1360,98,7958
96,870,Rio de Janeiro,60,2,1,0,2,acept,not furnished,380,1350,0,18,1748
97,8562,São Paulo,29,1,1,0,1,not acept,furnished,250,1720,99,22,2091
98,10533,São Paulo,273,3,3,1,5,acept,not furnished,1880,4250,778,54,6962
99,3143,São Paulo,100,2,1,2,-,not acept,not furnished,0,3300,317,50,3667

In [42]:
def definir_categoria(area): 
    if area <= 50:
        return "PEQUENO"
    if area < 100:
        return "MEDIO"
    if area >= 100:
        return "GRANDE"
    else:
        return "INDEFINIDO"
dados['categoria_area'] = dados['area'].apply(definir_categoria)
dados

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,categoria_area
0,0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,MEDIO
1,1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,GRANDE
2,2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,MEDIO
3,3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,MEDIO
4,4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,PEQUENO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926,MEDIO
10607,10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260,GRANDE
10608,10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390,MEDIO
10609,10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020,GRANDE
10610,10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587,MEDIO