In [2]:
import pandas as pd
from random import randint

In [13]:
caminho = '/workspaces/TrabalhosCPA/T4_PedroBarcelos_LeonardoMiranda-Alugueis/alugueis.csv'
dados = pd.read_csv(caminho)
dados

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10607,10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10608,10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10609,10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10610,10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587

In [132]:
def amostragem_aleatoria(df:pd.DataFrame,amostras:int,reposicao:bool = True):
    linhas,colunas = df.shape
    colunas = df.keys()
    df_amostras = pd.DataFrame(columns=colunas)
    if amostras == 0 or df.empty:
        return df_amostras
    if amostras > len(df):
        raise Exception("Nro Amostras maior que a população!")
    if reposicao:
        for i in range(amostras):
            ind = randint(0,linhas)
            amostra = df.iloc[ind]
            df_amostras.loc[len(df_amostras)] = amostra
    else: #sem reposicao
        indices_amostrados = []
        for i in range(amostras):
            linhas,cols = df.shape
            ind = randint(0,linhas-1)
            while ind in indices_amostrados:
                ind = randint(0,linhas-1)
            indices_amostrados.append(ind)
            amostra = df.iloc[ind]
            df_amostras.loc[len(df_amostras)] = amostra
    return df_amostras

def amostragem_estratificada(df:pd.DataFrame,amostras:int,coluna:str):
    dicionario = {}
    dicionario_amostra = {}
    conteudos = df[coluna].unique()
    linhas,cols = df.shape
    porcentagem = float(amostras)/float(linhas)
    for conteudo in conteudos:
        qtd = df[coluna].value_counts()[conteudo]
        dicionario[conteudo] = qtd
        qtd_amostra = qtd * porcentagem
        dicionario_amostra[conteudo] = round(qtd_amostra)
    # em caso de erro de arredondamento, a chave com maior quantidade de amostras sera afetada, sempre!
    while sum(dicionario_amostra.values()) > amostras or sum(dicionario_amostra.values()) < amostras:
        print("entrou")
        maior_amostra = max(dicionario_amostra.values())
        for chave,valor in dicionario_amostra.items():
            if valor == maior_amostra:
                match(sum(dicionario_amostra.values())>amostras):
                    case True:dicionario_amostra[chave] = valor - 1
                    case False: dicionario_amostra[chave] = valor + 1

In [133]:
amostragem_estratificada(dados,3,dados.keys()[1])

{'São Paulo': 5843, 'Porto Alegre': 1184, 'Rio de Janeiro': 1498, 'Campinas': 852, 'Belo Horizonte': 1234} {'São Paulo': 2, 'Porto Alegre': 0, 'Rio de Janeiro': 0, 'Campinas': 0, 'Belo Horizonte': 0}
entrou
{'São Paulo': 5843, 'Porto Alegre': 1184, 'Rio de Janeiro': 1498, 'Campinas': 852, 'Belo Horizonte': 1234} {'São Paulo': 3, 'Porto Alegre': 0, 'Rio de Janeiro': 0, 'Campinas': 0, 'Belo Horizonte': 0}

In [109]:
amostragem_aleatoria(dados,100)

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,6169,São Paulo,103,3,3,2,3,acept,furnished,1310,6500,448,83,8341
1,7474,Belo Horizonte,540,5,4,8,-,acept,not furnished,0,7000,912,115,8027
2,4047,Porto Alegre,400,4,4,6,-,acept,not furnished,0,7000,209,125,7334
3,1335,Rio de Janeiro,30,1,1,0,1,acept,not furnished,310,1200,45,16,1571
4,9214,Rio de Janeiro,174,4,2,1,1,acept,not furnished,1682,2400,500,31,4613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5838,São Paulo,84,3,2,3,8,not acept,not furnished,1450,3200,413,41,5104
96,2299,São Paulo,373,4,4,3,12,acept,not furnished,4500,12750,1417,162,18830
97,6534,São Paulo,160,3,4,4,2,acept,not furnished,2250,2100,480,27,4857
98,615,São Paulo,178,3,4,4,6,acept,furnished,2700,10200,667,130,13700
99,141,São Paulo,75,3,2,2,4,acept,not furnished,652,1600,82,21,2355