# Lidando com Valores Ausentes na biblioteca pandas

**Valores Ausentes** ocorrem quando não foram informados valores para certas variáveis em um dataset. É comum ocorrer quando utilizamos dados reais.

O que é um valor ausente para o Pandas?
* None (Nativo do Python)
* NaN (Not a Number): constante da biblioteca Numpy

Neste notebook vamos aprender algumas maneiras de lidar com valores ausentes.

Link para a documentação do Pandas sobre missing data: https://pandas.pydata.org/docs/user_guide/missing_data.html

## Instalação e Importação da biblioteca pandas

Antes de rodar este notebook, garanta que a biblioteca abaixo estejam instaladas em seu ambiente:

In [30]:
import pandas as pd

## Criação do dataframe e análise inicial dos dados

Nosso dataset de testes será o `titanic.csv`, um dataset bastante famoso em ciência de dados. Esse dataset contém as seguintes informações sobre os passageiros do Titanic:

* `PassengerId` = ID do passageiro do navio (chave primária).
* `Pclass	` = Tipo de classe de passagem (valor numérico entre 1 e 3), sendo 1 a melhor classe e 3 a pior classe.
* `Name` = Nome do passageiro
* `Sex` = Gênero do passageiro, com valores male/female.
* `Age` = Idade do passageiro na data da ocorrência do naufrágio (em anos).
* `SibSp` = Número de irmãos / cônjuges a bordo.
* `Parch` = Número de pais / filhos a bordo.
* `Ticket` = Número do ticket.
* `Fare` = Valor da passagem.
* `Cabin` = Código de identificação da Cabine.
* `Embarked` = Porto ondem o passageiro embarcou no navio. (C = Cherbourg, Q = Queenstown, S = Southampton)
* `survived` = Se sobreviveu ao naufrágio estará como 1 e caso esteja com 0 (zero) não sobreviveu.

In [31]:
# Carrega o dataset
dados = pd.read_csv('titanic.csv')

# Exibe as primeiras linhas do dataset
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
# Outra forma de observar os dados do dataset é com a função sample
dados.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
534,535,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
558,559,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.0,1,1,110413,79.6500,E67,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S

Podemos obter algumas estatísticas sobre os dados usando a função `describe`

In [33]:
dados.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

**EXERCÍCIO**
Com a execução da célula anterior, podemos notar que o atributo `Age` possui um valor máximo de 80. Esse valor pode ser considerado um outlier? Como você poderia justificar sua afirmação (com base no dataset e com base em informações externas)?

In [34]:
dados.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

## Resposta:
- Expectativa de vida na Inglaterra na época era de 51 anos;
- Como a maior idade é 80 e a média de idades é 29.7, podemos concluir que 80 pode ser considerado um Outlier.

## Identificando valores ausentes

A função `isnull()` retorna verdadeiro se um valor em uma posição do dataframe é vazio

In [35]:
dados['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

Podemos obter a contagem de valores nulos em cada coluna em um novo dataframe

In [36]:
contagem_nulos = dados.isnull().sum()
contagem_nulos

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Exclusão de Registros com dados faltantes

Uma forma de lidar com valores ausentes é excluir do dataframe as linhas que possuem valores ausentes. Isso pode ser feito facilmente através da função `dropna`. Essa função retorna um dataset sem as linhas que possuem algum valor ausente

In [37]:
sem_nulos = dados.dropna()

In [38]:
sem_nulos

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

**EXERCÍCIO**

Quantos registros foram excluídos do dataset?

In [39]:
registros_pre, cols_pre = dados.shape
registros_pos, cols_pos = sem_nulos.shape
registros_excluidos = registros_pre - registros_pos
registros_excluidos

708

**EXERCÍCIO**

Pode-se também excluir do dataset as colunas que contém valores faltantes. Para isso deve-se informar o parâmetro `axis=1` para a função `dropna`. Teste essa função e verifique quantas colunas foram excluídas do dataframe.

In [40]:
cols_nulas_exc = dados.dropna(axis=1)

In [41]:
registros_pos, cols_pos = cols_nulas_exc.shape
cols_excluidas = cols_pre - cols_pos
cols_excluidas

3

## Inputação de Dados

### Substituição Dummy

Outra forma de lidar com valores ausentes é preencher os valores faltantes com um valor padrão. A função `fillna(valor)` pode ser utilizada para realizar esta tarefa.

*Tome cuidado*: a função `fillna` preenche todo o dataframe de uma vez

In [42]:
# Preenchendo todos os dados faltantes com 0
preenchido = dados.fillna(0)

In [43]:
preenchido

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q

In [44]:
# Note que não teremos mais valores nulos no dataset
contagem_nulos = preenchido.isnull().sum()
contagem_nulos

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

### Substituição pela Média / Item Frequente

In [45]:
dados_teste = {
    "Produto": ["A", "B", "C", "D"],
    "Quantidade": [10, None, 15, 20],
    "Preco": [100, 200, None, 100]
}

df_vendas = pd.DataFrame(dados_teste)
df_vendas

  Produto  Quantidade  Preco
0       A        10.0  100.0
1       B         NaN  200.0
2       C        15.0    NaN
3       D        20.0  100.0

In [46]:
# Definindo o valor padrão -1 para a coluna quantidade
df_vendas.fillna({"Quantidade": -1}, inplace=True) ## inplace=True faz com que a operação seja realizada na própria variável

# Obtendo a moda do atributo preço
moda_preco = df_vendas["Preco"].mode()[0]
df_vendas.fillna({'Preco': moda_preco}, inplace=True)

df_vendas

  Produto  Quantidade  Preco
0       A        10.0  100.0
1       B        -1.0  200.0
2       C        15.0  100.0
3       D        20.0  100.0

**EXERCÍCIO**

Preencha os dados ausentes do dataset Titanic da seguinte forma:
* Atribua o valor ‘A101’ para as cabines faltantes
* Preencha o atributo idade com o valor médio das idades dos passageiros

É possível também usar os valores que estão nas linhas vizinhas para completar os valores faltantes.

In [47]:
cabin_correta = dados.copy()

In [48]:
cabin_correta['Cabin'] = cabin_correta['Cabin'].fillna('A101')
cabin_correta

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,A101,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,A101,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,A101,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,A101,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,A101,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,A101,Q

In [49]:
idade_acertada = dados

In [50]:
idade_acertada['Age'] = idade_acertada['Age'].fillna(idade_acertada.Age.mean())
idades_acertadas = idade_acertada[['Age']].query('Age == @idade_acertada.Age.mean()')
print('Idades acertadas estao nos index: ')
print(idades_acertadas.index)

Idades acertadas estao nos index:
Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
       ...
       832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
      dtype='int64', length=177)

**EXERCÍCIO**

Procure na documentação da função `fillna` quais as configurações possíveis para o atributo `method`. Crie um exemplo que use esse método para preencher os valores da coluna `Cabin`. Confira o resultado para ver se ele fica conforme o esperado.

In [51]:
cabin_teste = dados.copy()
cabin_teste = cabin_teste.ffill()
cabin_teste

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,C50,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,C148,Q

### Substituição por Interpolação

Nesse tipo de inputação, os dados são imputados segundo um modelo de interpolação matemática.

In [52]:
res = dados["Age"].interpolate(method="linear")

for antigo, novo in zip(dados["Age"], res):
    print(antigo, novo)

22.0 22.0
38.0 38.0
26.0 26.0
35.0 35.0
35.0 35.0
29.69911764705882 29.69911764705882
54.0 54.0
2.0 2.0
27.0 27.0
14.0 14.0
4.0 4.0
58.0 58.0
20.0 20.0
39.0 39.0
14.0 14.0
55.0 55.0
2.0 2.0
29.69911764705882 29.69911764705882
31.0 31.0
29.69911764705882 29.69911764705882
35.0 35.0
34.0 34.0
15.0 15.0
28.0 28.0
8.0 8.0
38.0 38.0
29.69911764705882 29.69911764705882
19.0 19.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
40.0 40.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
66.0 66.0
28.0 28.0
42.0 42.0
29.69911764705882 29.69911764705882
21.0 21.0
18.0 18.0
14.0 14.0
40.0 40.0
27.0 27.0
29.69911764705882 29.69911764705882
3.0 3.0
19.0 19.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
18.0 18.0
7.0 7.0
21.0 21.0
49.0 49.0
29.0 29.0
65.0 65.0
29.69911764705882 29.69911764705882
21.0 21.0
28.5 28.5
5.0 5.0
11.0 11.0
22.0 22.0
38.0 38.0
45.0 45.0
4.0 4.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.0 29.0
19.0 19.0
17.0 17.0
26.0 26.0
32.0 32.0
16.0 16.0
21.0 21.0
26.0 26.0
32.0 32.0
25.0 25.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
0.83 0.83
30.0 30.0
22.0 22.0
29.0 29.0
29.69911764705882 29.69911764705882
28.0 28.0
17.0 17.0
33.0 33.0
16.0 16.0
29.69911764705882 29.69911764705882
23.0 23.0
24.0 24.0
29.0 29.0
20.0 20.0
46.0 46.0
26.0 26.0
59.0 59.0
29.69911764705882 29.69911764705882
71.0 71.0
23.0 23.0
34.0 34.0
34.0 34.0
28.0 28.0
29.69911764705882 29.69911764705882
21.0 21.0
33.0 33.0
37.0 37.0
28.0 28.0
21.0 21.0
29.69911764705882 29.69911764705882
38.0 38.0
29.69911764705882 29.69911764705882
47.0 47.0
14.5 14.5
22.0 22.0
20.0 20.0
17.0 17.0
21.0 21.0
70.5 70.5
29.0 29.0
24.0 24.0
2.0 2.0
21.0 21.0
29.69911764705882 29.69911764705882
32.5 32.5
32.5 32.5
54.0 54.0
12.0 12.0
29.69911764705882 29.69911764705882
24.0 24.0
29.69911764705882 29.69911764705882
45.0 45.0
33.0 33.0
20.0 20.0
47.0 47.0
29.0 29.0
25.0 25.0
23.0 23.0
19.0 19.0
37.0 37.0
16.0 16.0
24.0 24.0
29.69911764705882 29.69911764705882
22.0 22.0
24.0 24.0
19.0 19.0
18.0 18.0
19.0 19.0
27.0 27.0
9.0 9.0
36.5 36.5
42.0 42.0
51.0 51.0
22.0 22.0
55.5 55.5
40.5 40.5
29.69911764705882 29.69911764705882
51.0 51.0
16.0 16.0
30.0 30.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
44.0 44.0
40.0 40.0
26.0 26.0
17.0 17.0
1.0 1.0
9.0 9.0
29.69911764705882 29.69911764705882
45.0 45.0
29.69911764705882 29.69911764705882
28.0 28.0
61.0 61.0
4.0 4.0
1.0 1.0
21.0 21.0
56.0 56.0
18.0 18.0
29.69911764705882 29.69911764705882
50.0 50.0
30.0 30.0
36.0 36.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
9.0 9.0
1.0 1.0
4.0 4.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
45.0 45.0
40.0 40.0
36.0 36.0
32.0 32.0
19.0 19.0
19.0 19.0
3.0 3.0
44.0 44.0
58.0 58.0
29.69911764705882 29.69911764705882
42.0 42.0
29.69911764705882 29.69911764705882
24.0 24.0
28.0 28.0
29.69911764705882 29.69911764705882
34.0 34.0
45.5 45.5
18.0 18.0
2.0 2.0
32.0 32.0
26.0 26.0
16.0 16.0
40.0 40.0
24.0 24.0
35.0 35.0
22.0 22.0
30.0 30.0
29.69911764705882 29.69911764705882
31.0 31.0
27.0 27.0
42.0 42.0
32.0 32.0
30.0 30.0
16.0 16.0
27.0 27.0
51.0 51.0
29.69911764705882 29.69911764705882
38.0 38.0
22.0 22.0
19.0 19.0
20.5 20.5
18.0 18.0
29.69911764705882 29.69911764705882
35.0 35.0
29.0 29.0
59.0 59.0
5.0 5.0
24.0 24.0
29.69911764705882 29.69911764705882
44.0 44.0
8.0 8.0
19.0 19.0
33.0 33.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.0 29.0
22.0 22.0
30.0 30.0
44.0 44.0
25.0 25.0
24.0 24.0
37.0 37.0
54.0 54.0
29.69911764705882 29.69911764705882
29.0 29.0
62.0 62.0
30.0 30.0
41.0 41.0
29.0 29.0
29.69911764705882 29.69911764705882
30.0 30.0
35.0 35.0
50.0 50.0
29.69911764705882 29.69911764705882
3.0 3.0
52.0 52.0
40.0 40.0
29.69911764705882 29.69911764705882
36.0 36.0
16.0 16.0
25.0 25.0
58.0 58.0
35.0 35.0
29.69911764705882 29.69911764705882
25.0 25.0
41.0 41.0
37.0 37.0
29.69911764705882 29.69911764705882
63.0 63.0
45.0 45.0
29.69911764705882 29.69911764705882
7.0 7.0
35.0 35.0
65.0 65.0
28.0 28.0
16.0 16.0
19.0 19.0
29.69911764705882 29.69911764705882
33.0 33.0
30.0 30.0
22.0 22.0
42.0 42.0
22.0 22.0
26.0 26.0
19.0 19.0
36.0 36.0
24.0 24.0
24.0 24.0
29.69911764705882 29.69911764705882
23.5 23.5
2.0 2.0
29.69911764705882 29.69911764705882
50.0 50.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
19.0 19.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
0.92 0.92
29.69911764705882 29.69911764705882
17.0 17.0
30.0 30.0
30.0 30.0
24.0 24.0
18.0 18.0
26.0 26.0
28.0 28.0
43.0 43.0
26.0 26.0
24.0 24.0
54.0 54.0
31.0 31.0
40.0 40.0
22.0 22.0
27.0 27.0
30.0 30.0
22.0 22.0
29.69911764705882 29.69911764705882
36.0 36.0
61.0 61.0
36.0 36.0
31.0 31.0
16.0 16.0
29.69911764705882 29.69911764705882
45.5 45.5
38.0 38.0
16.0 16.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.0 29.0
41.0 41.0
45.0 45.0
45.0 45.0
2.0 2.0
24.0 24.0
28.0 28.0
25.0 25.0
36.0 36.0
24.0 24.0
40.0 40.0
29.69911764705882 29.69911764705882
3.0 3.0
42.0 42.0
23.0 23.0
29.69911764705882 29.69911764705882
15.0 15.0
25.0 25.0
29.69911764705882 29.69911764705882
28.0 28.0
22.0 22.0
38.0 38.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
40.0 40.0
29.0 29.0
45.0 45.0
35.0 35.0
29.69911764705882 29.69911764705882
30.0 30.0
60.0 60.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
24.0 24.0
25.0 25.0
18.0 18.0
19.0 19.0
22.0 22.0
3.0 3.0
29.69911764705882 29.69911764705882
22.0 22.0
27.0 27.0
20.0 20.0
19.0 19.0
42.0 42.0
1.0 1.0
32.0 32.0
35.0 35.0
29.69911764705882 29.69911764705882
18.0 18.0
1.0 1.0
36.0 36.0
29.69911764705882 29.69911764705882
17.0 17.0
36.0 36.0
21.0 21.0
28.0 28.0
23.0 23.0
24.0 24.0
22.0 22.0
31.0 31.0
46.0 46.0
23.0 23.0
28.0 28.0
39.0 39.0
26.0 26.0
21.0 21.0
28.0 28.0
20.0 20.0
34.0 34.0
51.0 51.0
3.0 3.0
21.0 21.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
33.0 33.0
29.69911764705882 29.69911764705882
44.0 44.0
29.69911764705882 29.69911764705882
34.0 34.0
18.0 18.0
30.0 30.0
10.0 10.0
29.69911764705882 29.69911764705882
21.0 21.0
29.0 29.0
28.0 28.0
18.0 18.0
29.69911764705882 29.69911764705882
28.0 28.0
19.0 19.0
29.69911764705882 29.69911764705882
32.0 32.0
28.0 28.0
29.69911764705882 29.69911764705882
42.0 42.0
17.0 17.0
50.0 50.0
14.0 14.0
21.0 21.0
24.0 24.0
64.0 64.0
31.0 31.0
45.0 45.0
20.0 20.0
25.0 25.0
28.0 28.0
29.69911764705882 29.69911764705882
4.0 4.0
13.0 13.0
34.0 34.0
5.0 5.0
52.0 52.0
36.0 36.0
29.69911764705882 29.69911764705882
30.0 30.0
49.0 49.0
29.69911764705882 29.69911764705882
29.0 29.0
65.0 65.0
29.69911764705882 29.69911764705882
50.0 50.0
29.69911764705882 29.69911764705882
48.0 48.0
34.0 34.0
47.0 47.0
48.0 48.0
29.69911764705882 29.69911764705882
38.0 38.0
29.69911764705882 29.69911764705882
56.0 56.0
29.69911764705882 29.69911764705882
0.75 0.75
29.69911764705882 29.69911764705882
38.0 38.0
33.0 33.0
23.0 23.0
22.0 22.0
29.69911764705882 29.69911764705882
34.0 34.0
29.0 29.0
22.0 22.0
2.0 2.0
9.0 9.0
29.69911764705882 29.69911764705882
50.0 50.0
63.0 63.0
25.0 25.0
29.69911764705882 29.69911764705882
35.0 35.0
58.0 58.0
30.0 30.0
9.0 9.0
29.69911764705882 29.69911764705882
21.0 21.0
55.0 55.0
71.0 71.0
21.0 21.0
29.69911764705882 29.69911764705882
54.0 54.0
29.69911764705882 29.69911764705882
25.0 25.0
24.0 24.0
17.0 17.0
21.0 21.0
29.69911764705882 29.69911764705882
37.0 37.0
16.0 16.0
18.0 18.0
33.0 33.0
29.69911764705882 29.69911764705882
28.0 28.0
26.0 26.0
29.0 29.0
29.69911764705882 29.69911764705882
36.0 36.0
54.0 54.0
24.0 24.0
47.0 47.0
34.0 34.0
29.69911764705882 29.69911764705882
36.0 36.0
32.0 32.0
30.0 30.0
22.0 22.0
29.69911764705882 29.69911764705882
44.0 44.0
29.69911764705882 29.69911764705882
40.5 40.5
50.0 50.0
29.69911764705882 29.69911764705882
39.0 39.0
23.0 23.0
2.0 2.0
29.69911764705882 29.69911764705882
17.0 17.0
29.69911764705882 29.69911764705882
30.0 30.0
7.0 7.0
45.0 45.0
30.0 30.0
29.69911764705882 29.69911764705882
22.0 22.0
36.0 36.0
9.0 9.0
11.0 11.0
32.0 32.0
50.0 50.0
64.0 64.0
19.0 19.0
29.69911764705882 29.69911764705882
33.0 33.0
8.0 8.0
17.0 17.0
27.0 27.0
29.69911764705882 29.69911764705882
22.0 22.0
22.0 22.0
62.0 62.0
48.0 48.0
29.69911764705882 29.69911764705882
39.0 39.0
36.0 36.0
29.69911764705882 29.69911764705882
40.0 40.0
28.0 28.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
24.0 24.0
19.0 19.0
29.0 29.0
29.69911764705882 29.69911764705882
32.0 32.0
62.0 62.0
53.0 53.0
36.0 36.0
29.69911764705882 29.69911764705882
16.0 16.0
19.0 19.0
34.0 34.0
39.0 39.0
29.69911764705882 29.69911764705882
32.0 32.0
25.0 25.0
39.0 39.0
54.0 54.0
36.0 36.0
29.69911764705882 29.69911764705882
18.0 18.0
47.0 47.0
60.0 60.0
22.0 22.0
29.69911764705882 29.69911764705882
35.0 35.0
52.0 52.0
47.0 47.0
29.69911764705882 29.69911764705882
37.0 37.0
36.0 36.0
29.69911764705882 29.69911764705882
49.0 49.0
29.69911764705882 29.69911764705882
49.0 49.0
24.0 24.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
44.0 44.0
35.0 35.0
36.0 36.0
30.0 30.0
27.0 27.0
22.0 22.0
40.0 40.0
39.0 39.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
35.0 35.0
24.0 24.0
34.0 34.0
26.0 26.0
4.0 4.0
26.0 26.0
27.0 27.0
42.0 42.0
20.0 20.0
21.0 21.0
21.0 21.0
61.0 61.0
57.0 57.0
21.0 21.0
26.0 26.0
29.69911764705882 29.69911764705882
80.0 80.0
51.0 51.0
32.0 32.0
29.69911764705882 29.69911764705882
9.0 9.0
28.0 28.0
32.0 32.0
31.0 31.0
41.0 41.0
29.69911764705882 29.69911764705882
20.0 20.0
24.0 24.0
2.0 2.0
29.69911764705882 29.69911764705882
0.75 0.75
48.0 48.0
19.0 19.0
56.0 56.0
29.69911764705882 29.69911764705882
23.0 23.0
29.69911764705882 29.69911764705882
18.0 18.0
21.0 21.0
29.69911764705882 29.69911764705882
18.0 18.0
24.0 24.0
29.69911764705882 29.69911764705882
32.0 32.0
23.0 23.0
58.0 58.0
50.0 50.0
40.0 40.0
47.0 47.0
36.0 36.0
20.0 20.0
32.0 32.0
25.0 25.0
29.69911764705882 29.69911764705882
43.0 43.0
29.69911764705882 29.69911764705882
40.0 40.0
31.0 31.0
70.0 70.0
31.0 31.0
29.69911764705882 29.69911764705882
18.0 18.0
24.5 24.5
18.0 18.0
43.0 43.0
36.0 36.0
29.69911764705882 29.69911764705882
27.0 27.0
20.0 20.0
14.0 14.0
60.0 60.0
25.0 25.0
14.0 14.0
19.0 19.0
18.0 18.0
15.0 15.0
31.0 31.0
4.0 4.0
29.69911764705882 29.69911764705882
25.0 25.0
60.0 60.0
52.0 52.0
44.0 44.0
29.69911764705882 29.69911764705882
49.0 49.0
42.0 42.0
18.0 18.0
35.0 35.0
18.0 18.0
25.0 25.0
26.0 26.0
39.0 39.0
45.0 45.0
42.0 42.0
22.0 22.0
29.69911764705882 29.69911764705882
24.0 24.0
29.69911764705882 29.69911764705882
48.0 48.0
29.0 29.0
52.0 52.0
19.0 19.0
38.0 38.0
27.0 27.0
29.69911764705882 29.69911764705882
33.0 33.0
6.0 6.0
17.0 17.0
34.0 34.0
50.0 50.0
27.0 27.0
20.0 20.0
30.0 30.0
29.69911764705882 29.69911764705882
25.0 25.0
25.0 25.0
29.0 29.0
11.0 11.0
29.69911764705882 29.69911764705882
23.0 23.0
23.0 23.0
28.5 28.5
48.0 48.0
35.0 35.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
36.0 36.0
21.0 21.0
24.0 24.0
31.0 31.0
70.0 70.0
16.0 16.0
30.0 30.0
19.0 19.0
31.0 31.0
4.0 4.0
6.0 6.0
33.0 33.0
23.0 23.0
48.0 48.0
0.67 0.67
28.0 28.0
18.0 18.0
34.0 34.0
33.0 33.0
29.69911764705882 29.69911764705882
41.0 41.0
20.0 20.0
36.0 36.0
16.0 16.0
51.0 51.0
29.69911764705882 29.69911764705882
30.5 30.5
29.69911764705882 29.69911764705882
32.0 32.0
24.0 24.0
48.0 48.0
57.0 57.0
29.69911764705882 29.69911764705882
54.0 54.0
18.0 18.0
29.69911764705882 29.69911764705882
5.0 5.0
29.69911764705882 29.69911764705882
43.0 43.0
13.0 13.0
17.0 17.0
29.0 29.0
29.69911764705882 29.69911764705882
25.0 25.0
25.0 25.0
18.0 18.0
8.0 8.0
1.0 1.0
46.0 46.0
29.69911764705882 29.69911764705882
16.0 16.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
25.0 25.0
39.0 39.0
49.0 49.0
31.0 31.0
30.0 30.0
30.0 30.0
34.0 34.0
31.0 31.0
11.0 11.0
0.42 0.42
27.0 27.0
31.0 31.0
39.0 39.0
18.0 18.0
39.0 39.0
33.0 33.0
26.0 26.0
39.0 39.0
35.0 35.0
6.0 6.0
30.5 30.5
29.69911764705882 29.69911764705882
23.0 23.0
31.0 31.0
43.0 43.0
10.0 10.0
52.0 52.0
27.0 27.0
38.0 38.0
27.0 27.0
2.0 2.0
29.69911764705882 29.69911764705882
29.69911764705882 29.69911764705882
1.0 1.0
29.69911764705882 29.69911764705882
62.0 62.0
15.0 15.0
0.83 0.83
29.69911764705882 29.69911764705882
23.0 23.0
18.0 18.0
39.0 39.0
21.0 21.0
29.69911764705882 29.69911764705882
32.0 32.0
29.69911764705882 29.69911764705882
20.0 20.0
16.0 16.0
30.0 30.0
34.5 34.5
17.0 17.0
42.0 42.0
29.69911764705882 29.69911764705882
35.0 35.0
28.0 28.0
29.69911764705882 29.69911764705882
4.0 4.0
74.0 74.0
9.0 9.0
16.0 16.0
44.0 44.0
18.0 18.0
45.0 45.0
51.0 51.0
24.0 24.0
29.69911764705882 29.69911764705882
41.0 41.0
21.0 21.0
48.0 48.0
29.69911764705882 29.69911764705882
24.0 24.0
42.0 42.0
27.0 27.0
31.0 31.0
29.69911764705882 29.69911764705882
4.0 4.0
26.0 26.0
47.0 47.0
33.0 33.0
47.0 47.0
28.0 28.0
15.0 15.0
20.0 20.0
19.0 19.0
29.69911764705882 29.69911764705882
56.0 56.0
25.0 25.0
33.0 33.0
22.0 22.0
28.0 28.0
25.0 25.0
39.0 39.0
27.0 27.0
19.0 19.0
29.69911764705882 29.69911764705882
26.0 26.0
32.0 32.0

**Exercício**

Faz sentido utilizar interpolação para imputar valores para o atributo idade do dataset de testes? Em que casos isso faz mais sentido?

# Resposta:
- Acreditamos que nao seja muito adequado utilizar a interpolacao para atribuir idades faltantes, pois nao tem nenhuma logica em utilizar esse principio ao inferir idades